.shopping-cart {
  size: 2rem;
}

.back {
  background-color: $container-bg;
  margin-top: 25px;
}

.back a {
  text-decoration: none;
  color: black;
}

.details-container {
  margin-top: -3px !important;
  padding-bottom: 15px;
}
